body,html,section#title {height: 100%;}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Lato','HelveticaNeue-UltraLight',sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}
h1{font-size: 6em;}
h2{font-size: 5.5em;}
h3{font-size: 5em;}
h4{font-size: 2.8em;}
h5{font-size: 1.5em;}
h6{font-size: 0.5em;}
p{font-size: 2.8em;}
a{text-decoration: none;color: #FFFFFF;}
hr{
	border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)); 
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)); 
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)); 
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)); 
}
span.bold{font-weight: 700;}
span.josefin{font-family: 'Source Code Pro', sans-serif;letter-spacing: -0.05em; font-weight: 400;}
/*h4 span.josefin{font-size: 0.7em;}*/
h1.heading{padding: 10% 0 2% 0; overflow: hidden;}
h4.subheading{padding-bottom: 5%;}
h4.description{padding-bottom: 5%; width: 80%}
h4.subheading2{padding: 10px;}
div.linktriangle{
	width: 0;
	height: 0;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	display: inline-block;
	vertical-align: top;
	opacity: 0.7;
}
img.resize{
	max-width: 100%;
}


/*-------------- TITLE --------------*/

section#title{padding: 0; position: relative;}
#logo{padding: 20% 0 7% 0; width: 60%;}
div#myname{display: inline-block;}
#title h1{color: #6A026A; padding: 2%; display: inline-block;}
#title h1 span.bold{color: #ff2dc0;}
#title-ghetto{display: none; padding-top: 2%; max-width: 80%;}
#title h4{color: #6A026A;}
#title h4#resume{display: inline-block;}
#title h4#resume:active{
	font-weight: 700;
}

#title h4#ribbon-text{
	letter-spacing: 1px;
	position: fixed;
	left: 0;
	top: 31.5%;
	z-index: 101;
	overflow: hidden;
	font-weight: 300;
  width: 10px;
}
#ribbon{
	position: fixed;
	left: 0;
	top: 30%;
	z-index: 102;
	border: 1.2em solid #e74c3c;
	border-right-color: transparent;
	width: 0px;
  opacity: 0.5;
}

/*-------------- ABOUT ME --------------*/

section#aboutme{min-height: 100%;background-color: #51FFCE;padding: 0;position: relative;overflow: hidden;}
#about-h{color: #6A026A; padding: 6% 5% 5% 5%;}
#about-h .bold{color:#ff2dc0;}
#about-p{display: none;}
#reachme-arrow{
	max-height: 15px;
}
#mobile-bg{
	right: 0;
	top: 0;
	height: 100%;
	width: 48px;
	background-color: #fff;
	position: absolute;
}
ul#icons{position: absolute;right: 0;top: 48px;}
ul#icons li{margin:0;padding:0;list-style:none;float: left;}
ul#icons li, ul#icons a{height:48px; width:48px; display:inline-block; margin: 10% 0;}
ul#icons .row1,
ul#icons .row2,
ul#icons .row3,
ul#icons .row4,
ul#icons .row5,
ul#icons .row6{
	right: 0;
}
div#triangle{
	width: 0;
	height: 0;
	border-top: 48px solid #fff;
	border-right: 48px solid #fff;
	border-bottom: 48px solid transparent;
	border-left: 48px solid transparent;
	position: absolute;
	right: 0;
	top: 0;
}
div#triangle2{
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-right: 48px solid #fff;
	border-bottom: 48px solid #fff;
	border-left: 48px solid transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}

#facebook a{width: 48px; height: 48px; background: url(../img/icons.png) 0 0;}
#location a{width: 48px; height: 48px; background: url(../img/icons.png) -48px 0;}
#linkedin a{width: 48px; height: 48px; background: url(../img/icons.png) -96px 0;}
#email a{width: 48px; height: 48px; background: url(../img/icons.png) -144px 0;}
#twitter a{width: 48px; height: 48px; background: url(../img/icons.png) -192px 0;}
#instagram a{width: 48px; height: 48px; background: url(../img/icons.png) -240px 0;}
#facebook a:active{background: url(../img/icons.png) 0 -48px;}
#location a:active{background: url(../img/icons.png) -48px -48px;}
#linkedin a:active{background: url(../img/icons.png) -96px -48px;}
#email a:active{background: url(../img/icons.png) -144px -48px;}
#twitter a:active{background: url(../img/icons.png) -192px -48px;}
#instagram a:active{background: url(../img/icons.png) -240px -48px;}

.aboutme-selfie{
	float: left;
	margin: 0 3% 3% 0;
	width: 60%;}
#aboutme-selfie01,
#aboutme-selfie02{
	display: none;
}
#aboutme-desc{
	display: inline-block;
	width: 85%;
	vertical-align: top;
	letter-spacing: -0.05em; 
	
}
#aboutme-desc p{
	padding: 5%;
}
span.keyword{
	border-width: 3px;
	border-style: solid;
	border-color: #ffffff;
	margin: 2px;
	padding: 0 4px;
	font-weight: 500;
	display: inline-block;
}
span.keyword:active{
	color: #6A026A;
	cursor: default;
}


/*-------------- CONTENT (ICONS) --------------*/

section#content{background-color: #00DFFF;padding: 0; min-height: 100%;}
#content-h{color: #6A026A; padding: 5% 0;}
div.overview{display: none;}
img.icon{padding: 20% 0 8% 0; max-width: 70%;}
.clear:before, .clear:after {content: " "; display: table;}
.clear:after {clear: both;}
ul#content-grid{
	width: 80%;
	padding: 5% 0;
}
ul#content-grid li{
	display: inline-block;
	text-align: center;
	overflow: hidden;
  cursor: pointer;
}

h3.content-heading{padding-bottom: 10px;}
h4.content-subheading{padding-bottom: 15px;font-family: 'Source Code Pro', sans-serif;font-size: 2.8em;letter-spacing: -0.05em; font-weight: 400;}
table.content-table tr td:first-child p{margin-right: 10px;}
table.content-table td p{padding: 2% 0;}

.shadowed {
  -webkit-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.1));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
}

/*-------------- PROJECT PAGES --------------*/

section#pla{min-height:100%; background-color: #76BCFE}
section#pcf{min-height:100%; background-color: #f9ce34}
section#jev{min-height:100%; background-color: #32E6BF}
section#wal{min-height:100%; background-color: #FF6666}
section#pho{min-height:100%; background-color: #1e1e1e}

div.project-contain{padding: 8% 0;}

div.project-content{display: none; position: relative;}

ul.project-nav-link-contain{
	padding-bottom: 5%;
}
li.project-nav-link{
	display: inline-block;
	border: 4px solid rgba(255,255,255,0.3);
	margin: 2%;
	cursor: pointer;
	-webkit-transition: opacity,background-color 0.5s ease-in-out;
  -moz-transition: opacity,background-color 0.5s ease-in-out;
  -ms-transition: opacity,background-color 0.5s ease-in-out;
  -o-transition: opacity,background-color 0.5s ease-in-out;
	transition: opacity,background-color 0.5s ease-in-out}
li.project-nav-link:hover, li.selected{
	background: rgba(0,0,0,0.3);
}

img.project-heading-image {
	width: 100%;
	max-width: 100%;
	z-index: 0;
	position: absolute;
	overflow: hidden;
}
#pla .banner,
#pcf .banner,
#jev .banner,
#wal .banner,
#pho .banner { 
	position: relative; 
	overflow: scroll; 
	width: 90%; 
	height: 70%;
	min-height: 500px;
	padding: 5%;
}

/*-------------- PLAN --------------*/

.project-content{
	position: relative;
}

#pla-1-text,
#pla-2-text,
#pla-3-text,
#pcf-2-text,
#pcf-3-text,
#jev-4-text,
#jev-5-text,
#jev-6-text,
#wal-1-text,
#wal-2-text,
#wal-4-text,
#wal-3-text{
	position: block;
	width: 90%;
	padding: 5%;
	font-size: 0.8em;
}
span.color{
	height: 15px;
	width: 8px;
	display: inline-block;
}
span#a{background-color: #F7199E;}
span#b{background-color: #d3f819;}
span#c{background-color: #f20924;}
span#d{background-color: #4a0b12;}
span#e{background-color: #06d9fc;}
span#f{background-color: #030809;}



/*-------------- PHOTO --------------*/

p.photo-title{letter-spacing: 3px; line-height: 2.2em;}
p.photo-detail{font-size: 0.8em; line-height: 2.2em;}
li.photo-contain{text-align: right; margin-bottom: 3%;}
.photo{
	display: inline-block;
	margin-bottom: -5%;
}

.photo-text{
	display: inline-block;
	margin: 4% 4% 4% 0;
}






